* {
    margin: 0;
    padding: 0;
}

.html {
    scroll-behavior: smooth;
}

.body {
    overflow-x: hidden;
}


.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

h2.food {
    width: 11%;
    font-size: 29px;
    color: bisque;
    padding: 15px 25px;
}

h2.food:hover {
    color: lawngreen;
}

.button {
    padding: 14px 20px;
    background: orange;
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    display: inline-block;
    margin: 30px 0px;
    border-radius: 4px;
}

.button:hover {
    color: darkgreen;
    background: yellow;
}

.section {
    width: 100%;
    padding: 30px 0px;
}

.secondary {
    font-size: 45px;
    margin-bottom: 20px;
    text-align: center;
}

.box {
    background: orange;
    color: #fff;
    border: 1px solid #b2b2b2;
    padding: 25px 5px;
    margin: 0 10px;
    border-radius: 8px;
    font-size: 18px;
    transition: 0.3s ease;
    cursor: pointer;
}

.box:hover {
    background: yellow;
    color: darkgreen;
    border-color: aqua;
}

.visual1 {
    height: 700px;
    display: flex;
    margin-left: auto;
}

.visual2 {
    width: auto;
    height: auto;
    display: flex;
    margin-right: auto;
}

.text {
    width: 50%;
    margin: 0px 20px;
    font-size: 25px;
    color: rgb(50, 50, 50);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text1 {
    margin: 0px 20px;
    font-size: 25px;
    color: rgb(50, 50, 50);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.count {
    margin: 10px 0px;
    font-size: 60px;
    color: rgb(50, 50, 50);
}

.about {
    color: rgb(60, 60, 60);
    font-size: 55px;
    font-family: monospace;
}

.about1 {
    width: 110%;
    color: rgb(60, 60, 60);
    font-size: 60px;
    margin-bottom: 30px;
    font-family: monospace;
}

.header {
    overflow: hidden;
    font-size: 20px;
    background-position: center;
    background-size: cover;
    background-color: rgb(45, 45, 255);
}

.header a {
    float: right;
    color: bisque;
    font-family: cursive;
    padding: 20px 20px;
    text-decoration: none;
}

.header a:hover {
    background-color: aqua;
    color: rgb(0, 0, 270);
}

.tertiary {
    margin: 10px 0px;
}

.category {
    text-align: center;
}

.category li {
    display: inline-block;
    margin: 0 20px 40px 20px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.restaurant-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.menu-item {
    width: 270px;
    margin: 0 auto;
    border-radius: 6px;
    overflow: hidden;
}

.title {
    font-size: 18px;
    font-weight: 100px;
    margin: 5px 0px;
    font-family: cursive;
}

.location {
    font-size: 18px;
    font-weight: 500px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.price {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn {
    padding: 7px 10px;
    background: lightblue;
    color: blue;
    text-decoration: none;
    text-align: center;
    border-radius: 2px;
    font-size: 15px;
    display: inline-block;
    margin: 20px 64px;
    border-radius: 4px;
}

.btn:hover {
    background-color: blue;
    color: aqua;
}

